html, body{
    font-family: 'Nunito', sans-serif;
}
button:focus{
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
  outline: 0;
}
.hero{
    width: 100%;
    min-height: 300px;
    background-image: url('../images/header-x1.png');
    background-position: center right;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    margin-top: 80px;
    margin-bottom: 80px;
}
h1{
    font-weight: 700;
}
h5, .h5{
    font-size: 1.15rem;
}
#dropdownOrder{
	border: 0;
}
.dropdown-menu{
	border: 0;
	border-radius: 5px 0 5px 5px;
    box-shadow: 0 7px 30px 0 rgba(0,0,0,.4);
}
.dropdown-item{
	cursor: pointer;
}
.input-range{
	margin-left: 15px;
	width: 100%;
	max-width: 300px;
}
.card-title{
	white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.btn-points{
    padding: 8px 20px;
    border-radius: 20px;
    border: 1px solid #ff7b00;
    color: #ff7b00;
}
.btn-points:hover{
    background-color: #ff7b00;
    border-color: #ff7b00;
    color: #FFFFFF;
}
.btn-primary{
    background-color: #ff7b00;
    border-color: #ff7b00;
}
.btn-primary:hover{
    background-color: #ef7503;
    border-color: #ef7503;
}
.btn-primary.disabled, 
.btn-primary:disabled {
    background-color: #ff7b00b0;
    border-color: #ff7b00b0;
}
/* SIDEBAR */
.zeynep {
    background-color: #ffffff;
    bottom: 0;
    color: #404143;
    right: 0;
    overflow: hidden;
    overflow-y: auto;
    /* pointer-events: none; */
    position: fixed;
    top: 0;
    transform: translateX(100%);
    z-index: 1011;
	width: 500px;
	max-width: 80%;
	-webkit-overflow-scrolling: touch;
	transition: all 375ms;
	transition-property: left, right, transform;
	padding: 100px 50px 50px;
}
.zeynep-overlay {
    background-color: rgba(0, 0, 0, .42);
    bottom: 0;
    display: none;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1010;
}
.zeynep-opened .zeynep-overlay {
    display: block;
}
.zeynep-opened .zeynep {
    transform: translateX(0px);
}
@media screen and (max-width: 1140px){
    .container{
        max-width: 1140px;
    }
}
@media screen and (max-width: 768px){
    h6{
        font-size: 0.8rem;
    }
    .zeynep .history span{
        font-size: 0.8rem;
    }
}