html, body{
    font-family: 'Nunito', sans-serif;
}
button:focus{
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
  outline: 0;
}
.hero{
    width: 100%;
    min-height: 300px;
    background-image: url('../images/header-x1.png');
    background-position: center right;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    margin-top: 80px;
    margin-bottom: 80px;
}
h1{
    font-weight: 700;
}
h5, .h5{
    font-size: 1.15rem;
}
#dropdownOrder{
	border: 0;
}
.dropdown-menu{
	border: 0;
	border-radius: 5px 0 5px 5px;
    box-shadow: 0 7px 30px 0 rgba(0,0,0,.4);
}
.dropdown-item{
	cursor: pointer;
}
.input-range{
	margin-left: 15px;
	width: 100%;
	max-width: 300px;
}
.card-title{
	white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
@media screen and (max-width: 1140px){
    .container{
        max-width: 1140px;
    }
}